#left-wrapper {
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 1;
    top: 30%;
    left: 0;
    /* margin-top: -61px; */
}

#steps-panel {
    width: 250px;
    /* height: 200px; */
    position: fixed;
    left: 0;
    background-color: var(--dark-blue);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: var(--white);

    transition: width 0.5s, padding 0.1s;
    white-space: nowrap;
    overflow: hidden;
}

.panel-title {
    font-size: larger;
    font-weight: 700;
    color: var(--light-blue);
    padding: 10px 40px;
}

#steps-list {
    list-style-type: none;
    padding: 10px 40px;
}

#steps-hide {
    width: 25px;
    height: 46px;
    background-color: var(--light-blue);
    border: none;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
}

#steps-hide-icon {
    position: relative;
    color: var(--white);
    transition: transform 0.5s;
    transform: rotate(-180deg);
}

.steps-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.steps-wrapper:hover {
    background-color: var(--dark-blue-shade);
    cursor: pointer;
}

.steps-list-icon {
    position: relative;
    color: var(--white);
    opacity: 0.5;
    transition: transform 0.5s;
}

.selected {
    background-color: var(--dark-blue-shade);
}

.steps-detail {
    height: auto;
    max-height: 0px;
    white-space: nowrap;
    overflow: hidden;

    transition: max-height 1s ease-in-out;
}
