header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 2%;
    background-color: var(--dark-blue);
}

#title {
    margin-right: 5%;
    color: var(--white);
}

#gh-icon {
    position: relative;
    color: var(--white);
}
